<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="./../estilos/estilos.css">
</head>
<body>
    <header>
        <!-- Barra de Navegación -->
        <nav class="menu-galeria">
          <div class="contenedor-logo">
             <a href="./../index.html"><img src="./../imagenes/header-logo-dark.png" alt="logo de la empresa" class="logo"></a>
          </div>
          <div>
              <ul class="contenedor-lista">
                  <li><a href="./../index.html">Inicio</a></li>
                  <li><a href="./galeria.html">Nuestros Trabajos</a></li>
                  <li><a href="./presupuesto.html">Presupuestos</a></li>
                  <li><a href="./contacto.html" class="marca">Contacto</a></li>
              </ul>
          </div>
      </nav>
  </header>
  <!-- main -->
  <main class="main-contacto">
        <h1>¡Encuentranos aqui!</h1>
        <div>
            <iframe class="contenedor-mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.738321366559!2d-122.28524992411428!3d37.819597871973976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857e1959335da7%3A0xdef4031cc3c781d0!2s2711%20Adeline%20St%2C%20Oakland%2C%20CA%2094607%2C%20EE.%20UU.!5e0!3m2!1ses!2ses!4v1713884841005!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  </main>
  <footer class="footer-presupuesto">
    <div class="logo-negro">
        <img src="./../imagenes/footer-logo+02.png" alt="logo de la empresa">
    </div>
    <div class="footer">
        <p class="p-footer"> 2711 ADELINE STREET, OAKLAND, CA 94607</p>
        <p class="p-footer">Nº 111-222-333</p>
    </div>
    <div class="redes">
        <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img src="./../imagenes/icons8-facebook-nuevo-50.png" alt="icono facebook"></a>
        <a href="https://www.instagram.com/" target="_blank" class="logos-redes"><img src="./../imagenes/icons8-instagram-50.png" alt="icono instagram"></a>
    </div>
    <p>© 2024 Tu Nombre. Todos los derechos reservados.</p>
</footer>
</body>
</html>