<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Trabajos</title>
    <link rel="stylesheet" href="./../estilos/estilos.css">
</head>
<body>
    <header>
          <!-- Barra de Navegación -->
          <nav class="menu-galeria">
            <div class="contenedor-logo">
               <a href="./../index.html"><img src="./../imagenes/header-logo-dark.png" alt="logo de la empresa" class="logo"></a>
            </div>
            <div>
                <ul class="contenedor-lista">
                    <li><a href="./../index.html">Inicio</a></li>
                    <li><a href="./../views/galeria.html"  class="marca">Nuestros Trabajos</a></li>
                    <li><a href="./presupuesto.html">Presupuestos</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- Descripcion Sobre la carpinteria -->
        <section class="section1-galeria">
            <div class="contenedor-galeria">
                <div class="img-taller">
    
                </div>
                <div class="descripcion">
                    <p class="parrafos p1">Bienvenidos a nuestra Galería de VORRATH, donde el arte y la funcionalidad se fusionan para crear piezas excepcionales que transforman espacios en experiencias únicas. Sumérgete en un mundo de elegancia y artesanía mientras exploras nuestra colección de muebles finamente elaborados, diseñados para elevar cualquier ambiente a un nivel de lujo inigualable.</p>
                    <p class="parrafos p2">Cada pieza en nuestra galería es el resultado de años de experiencia y dedicación, fusionando técnicas tradicionales con un enfoque contemporáneo para ofrecer muebles que son verdaderas obras maestras. Desde exquisitas mesas de comedor hasta lujosos sofás y sillas, cada artículo es una expresión de calidad superior y diseño atemporal.</p>
                </div>
            </div>
        </section>
        <!-- Carrousel -->
        <section class="carrousel">
            <div id="carousel-container">
                <div id="carousel">
                    <div class="carousel-slide">
                      <img class="img-carrousel" src="./../imagenes/carrousel/c4.png" alt="Imagen 4">
                    </div>
                  <div class="carousel-slide">
                    <img class="img-carrousel" src="./../imagenes/carrousel/c5.png" alt="Imagen 5">
                  </div>
                  <div class="carousel-slide">
                    <img class="img-carrousel" src="./../imagenes/carrousel/c8.png" alt="Imagen 8">
                  </div>
                  <div class="carousel-slide">
                    <img class="img-carrousel" src="./../imagenes/carrousel/c9.png" alt="Imagen 9">
                  </div>
                </div>
              </div>
        </section>
    </main>
    <!-- footer -->
    <footer>
        <div class="logo-negro">
            <img src="./../imagenes/footer-logo+02.png" alt="logo de la empresa">
        </div>
        <div class="footer">
            <p class="p-footer"> 2711 ADELINE STREET, OAKLAND, CA 94607</p>
            <p class="p-footer">Nº 111-222-333</p>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img src="./../imagenes/icons8-facebook-nuevo-50.png" alt="icono facebook"></a>
            <a href="https://www.instagram.com/" target="_blank" class="logos-redes"><img src="./../imagenes/icons8-instagram-50.png" alt="icono instagram"></a>
        </div>
        <p>© 2024 Tu Nombre. Todos los derechos reservados.</p>
    </footer>
    <script src="./../js/galeria.js"></script>
</body>
</html>